
<style>
footer {
    background: white;
    color: #2E884B;
    padding: 48px 0;
}
footer a {
    color: #243329;
}
.footer-link-section li {
    font-weight: 600;
}
.footer-link-section a {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    margin: 17px 0;
    display: block;
}
.footer-copyright {
    background: #36453B;
    color: #FFF;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}
</style>


<section class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copyright ">
                <div class="module">
                    <small>COPYRIGHT 2023 @ KSDI(KSITM) -- ALL RIGHTS RESERVED</small>
                </div>
            </div>
        </div>
    </div>
</section>
